@import "tailwindcss";

@import "./variables.css";
@import "./typeset.css";
@import "./nav.css";
@import "./App.css";
@import "./Footer.css";
@import "./Header.css";
@import "./table.css";
@import "./Image.css";
@import "./Landing.css";

@plugin "daisyui" {
  themes: false;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: false;
}
