
/* a {
  @apply text-[var(--primary-foreground)] active:text-[var(--primary-foreground)]/80 hover:text-[var(--primary-foreground)]/70 visited:text-[var(--primary-foreground)]/90
} */

a {
  color: var(--on-foreground);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  text-align: center;
}

a:visited {
  font-weight: var(--font-weight-medium);
}

a:hover {
  font-weight: var(--font-weight-bold);
}

a:active {
  transform: translateY(1px);
}

.menu-trigger {
  align-items: center;
  padding-right: 2rem;
}

.menu-trigger button {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  color: var(--secondary-foreground);
  font-size: 2.5rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.menu-trigger button:hover {
  font-weight: bolder;
}

.menu-trigger button:active {
  transform: translateY(1px);
}

a.menu-item {
  font-size: 1.2rem;
  margin: 0 0 0.2rem 1rem;
}

a.menu-item-home {
  font-size: 1.2rem;
  margin: 0;
}

p.menu-item {
  font-weight: var(--font-weight-semibold);
  margin: 0 0 0.2rem 1rem;
}

p.menu-item:hover {
  cursor:pointer;
}

#menu-nav,
#menu-link-nav {
  position: fixed;
  top: 0;
  right: -200px;

  padding: 1rem 2rem 1rem 2rem;
  margin: 0;

  width: auto;
  height: auto;

  background-color: var(--primary);
  color: var(--primary-foreground);
  transition: transform .8s ease-in-out;
}

#menu-link-nav {
  z-index: 2;
  transition: transform .8s linear;
}

#menu-nav.open,
#menu-link-nav.open {
  transform: translateX(-200px);
}

#menu-nav.close,
#menu-link-nav.close {
  transform: translateX(200px);
}

@media screen and (max-width: 768px) {
   a.menu-item,
   a.menu-item-home {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 767px) {
  .menu-trigger {
    padding-right: 0.5rem;
  }

  .menu-trigger button {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.75rem;
  }
}
