@import "variables.css";

#about-cv,
#about-license {
  display: grid;
  place-items: center center;
  height: 100%;

  opacity: 0.4;
  background-color: var(--content-inactive-colour);

}

#about-cv:focus,
#about-cv:hover,
#about-license:focus,
#about-license:hover {
  opacity: 1;
  background-color: var(--content-active-colour);
  animation: appsFadeIn linear 2s;
}

@keyframes appsFadeIn {
  0% {opacity:0;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}

#about-cv-md,
#about-license-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;
}
