@import "variables.css";

#about-md {
  position: fixed;
  height: calc(100% - var(--footer-height));
  width: calc(100% - 2rem);

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;
}

#about-md > h1 {
  margin: 1rem 0 0 0;
}

#about-md > h2 {
  margin: 0;
}
