@import "variables.css";

#academia-md {
  position: fixed;
  height: 100%;
  width: 100%;

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;
}

#academia-md > h1 {
  margin: 1rem 0 0 0;
}

#academia-md > h2 {
  margin: 0;
}

#academia-md > h3 {
  margin: 0;
}

#academia-md > h4 {
  margin: 0;
}

#academia-md img {
  width: 100%;
}
