@import "variables.css";

#apps-storymaker,
#apps-rectangles {
  display: grid;
  place-items: center center;
  height: 100%;

  opacity: 0.4;
  background: var(--content-link-colour);

}

#apps-storymaker:focus,
#apps-storymaker:hover,
#apps-rectangles:focus,
#apps-rectangles:hover {
  animation: appsFadeIn linear 2s;
}

@keyframes appsFadeIn {
  0% {opacity:0;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}

#apps-storymaker-md,
#apps-rectangles-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;

  background: var(--content-colour);
}
