@import "variables.css";
@import "animations.css";

#books-my-abi,
#books-stories-from-the-campfire {
  display: grid;
  place-items: center center;
  height: 100%;

  font-size: var(--content-link-size);

  background: var(--content-link-colour);
  animation: backgroundAnimation 10s ease infinite;
}

#books-my-abi:focus,
#books-my-abi:hover,
#books-stories-from-the-campfire:focus,
#books-stories-from-the-campfire:hover {
  animation: appsFadeIn linear 1s;
}

@keyframes appsFadeIn {
  0% {opacity:0.5;}
  50% {opacity:0.4;}
  100% {opacity:0.5;}
}

#books-my-abi-md,
#books-stories-from-the-campfire-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 3rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;

  background: var(--content-colour);
}
