@import "variables.css";

#books-my-abi,
#books-stories-from-the-campfire {
  display: grid;
  place-items: center center;
  height: 100%;

  opacity: 0.4;
  background-color: var(--content-inactive-colour);

}

#books-my-abi:focus,
#books-my-abi:hover,
#books-stories-from-the-campfire:focus,
#books-stories-from-the-campfire:hover {
  opacity: 1;
  background-color: var(--content-active-colour);
  animation: appsFadeIn linear 2s;
}

@keyframes appsFadeIn {
  0% {opacity:0;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}

#books-my-abi-md,
#books-stories-from-the-campfire-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;
}
