@import "variables.css";

#contact-md {
  position: fixed;
  top: var(--header-height);
  height: 100%;

  padding: 0 1rem 0 1rem;

  overflow: auto;
  white-space: pre-wrap;
}

#contact-md > h1 {
  margin: 1rem 0 0 0;
}
