@import "variables.css";

#cv-md {
  padding: 0 1rem 1rem 1rem;

  overflow: auto;
  white-space: pre-wrap;
}

#cv-md > h1 {
  margin: 1rem 0 0 0;
}

#cv-md > h2 {
  margin: 0;
}

#cv-md > ul {
  margin: 0;
  white-space: normal;
}


