@import "variables.css";

#flash-eric,
#flash-fortunes,
#flash-wisdom {
  display: grid;
  place-items: center center;
  height: 100%;

  opacity: 0.4;
  background-color: var(--content-inactive-colour);

}

#flash-eric:focus,
#flash-eric:hover,
#flash-fortunes:focus,
#flash-fortunes:hover,
#flash-wisdom:focus,
#flash-wisdom:hover {
  opacity: 1;
  background-color: var(--content-active-colour);
  animation: flashFadeIn linear 2s;
}

@keyframes flashFadeIn {
  0% {opacity:0;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}

#flash-eric-md,
#flash-fortunes-md,
#flash-wisdom-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;
}
