@import "variables.css";
@import "animations.css";

#flash-eric,
#flash-fortunes,
#flash-wisdom {
  display: grid;
  place-items: center center;
  height: 100%;

  font-size: var(--content-link-size);

  background: var(--content-link-colour);
  animation: backgroundAnimation 10s ease infinite;
}

#flash-eric-md,
#flash-fortunes-md,
#flash-wisdom-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 3rem 1rem 3rem;
  white-space: pre-wrap;

  overflow-y: scroll;

  background: var(--content-colour);
}
