@import "variables.css";

#footer {
  display: grid;
  place-items: center center;
  grid-template-rows: auto auto;

  position: fixed;
  top: calc(100vh - var(--footer-height));
  bottom: calc(var(--footer-open-height) * -1);

  padding: 0 1rem 0 1rem;
  width: calc(100vw - 2rem);

  background-color: var(--footer-colour);
  color: var(--text-colour);
  transition: transform .8s ease-in-out;
}

#footer-content {
  display: grid;
  place-items: center center;
  grid-template-columns: 1fr 1fr 1fr;
}

#footer.open {
  transform: translateY(calc(var(--footer-open-height) * -1));
}

#footer.close {
  transform: translateY(var(--footer-open-height));
}

button#footer-toggle {
  color: var(--footer-text-colour);
  border-radius: 10px;
  border: none;

  background-color: var(--content-active-colour);
}

button#theme-toggle {
  font-size: 1rem;
  color: var(--footer-text-colour);
  border-radius: 10px;
  border: 1px solid var(--button-border-colour);

  background-color: var(--content-active-colour);
}

#footer p {
  color: var(--footer-text-colour);
}
