@import "variables.css";

#home-about,
#home-academia,
#home-apps,
#home-blog,
#home-books,
#home-flash-fiction,
#home-misc,
#home-poetry,
#home-songs,
#home-stories {
  display: grid;
  place-items: center center;
  height: 100%;

  opacity: 0.5;
  background: var(--content-link-colour);

}

#home-about:focus,
#home-about:focus,
#home-academia:focus,
#home-academia:hover,
#home-apps:focus,
#home-apps:hover,
#home-blog:focus,
#home-blog:hover,
#home-books:focus,
#home-books:hover,
#home-flash-fiction:focus,
#home-flash-fiction:hover,
#home-misc:focus,
#home-misc:hover,
#home-poetry:focus,
#home-poetry:hover,
#home-songs:focus,
#home-songs:hover,
#home-stories:focus,
#home-stories:hover {
  animation: homeFadeIn linear 1s;
}

@keyframes homeFadeIn {
  0% {opacity:0.5;}
  50% {opacity:0.4;}
  100% {opacity:0.5;}
}
