@import "variables.css";
@import "animations.css";

#home-about,
#home-academia,
#home-apps,
#home-blog,
#home-books,
#home-flash-fiction,
#home-misc,
#home-poetry,
#home-songs,
#home-stories {
  display: grid;
  place-items: center center;
  height: 100%;

  background: var(--content-link-colour);
  animation: backgroundAnimation 10s ease infinite;
}

