@import "variables.css";

#academia,
#apps,
#blog,
#books,
#flash-fiction,
#misc,
#poetry,
#songs,
#stories {
  display: grid;
  place-items: center center;
  height: 100%;

  opacity: 0.4;
  background-color: var(--home-inactive-colour);

}

#academia:focus,
#academia:hover,
#apps:focus,
#apps:hover,
#blog:focus,
#blog:hover,
#books:focus,
#books:hover,
#flash-fiction:focus,
#flash-fiction:hover,
#misc:focus,
#misc:hover,
#poetry:focus,
#poetry:hover,
#songs:focus,
#songs:hover,
#stories:focus,
#stories:hover {
  opacity: 1;
  background-color: var(--home-active-colour);
  animation: homeFadeIn linear 2s;
}

@keyframes homeFadeIn {
  0% {opacity:0;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}
