@import "variables.css";
@import "theme.css";
@import "typeface.css";

body {
  display: grid;
  place-items: start start;

  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-colour);
}

header {
  display: grid;
  grid-template-columns: repeat(9, auto);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100vw;
  height: var(--header-height);

  background-color: var(--header-colour);
}

main {
  width: 100vw;
  height: 100vh;
}

main#about,
main#cv,
main#contact,
main#settings,
main#academia,
main#apps,
main#blog,
main#books,
main#flash-fiction,
main#misc,
main#poetry,
main#songs,
main#stories {
  display: grid;
  place-items: center center;
  background-color: var(--home-active-colour);
}

footer {
  display: grid;
  place-items: center center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100vw;
  height: var(--footer-height);

  background-color: var(--footer-colour);
}
