@import "variables.css";
@import "typeface.css";

body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#content {
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);

  min-height: 100vh;

  background-color: var(--background-colour);
}

header {
  display: grid;
  grid-template-columns: repeat(9, auto);

  z-index: 1;

  width: 100vw;
  height: 100%;
  
  background-color: var(--header-colour);
}

main {
  overflow-y: scroll;
  background-color: var(--content-active-colour);
}

footer {
  display: grid;
  place-items: center center;
  
  z-index: 1;

  width: 100vw;
  height: 100%;

  background-color: var(--footer-colour);
}
