@import "variables.css";
@import "animations.css";

#misc-another-great-escape,
#misc-my-great-escape,
#misc-patience,
#misc-scotland-vs-england,
#misc-west-ham-vs-everton,
#misc-wind,
#misc-world-cup-semi {
  display: grid;
  place-items: center center;
  height: 100%;

  background: var(--content-link-colour);
  animation: backgroundAnimation 10s ease infinite;
}

#misc-another-great-escape-md,
#misc-my-great-escape-md,
#misc-patience-md,
#misc-scotland-vs-england-md,
#misc-west-ham-vs-everton-md,
#misc-wind-md,
#misc-world-cup-semi-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;

  background: var(--content-colour);
}

#misc-another-great-escape-md img,
#misc-my-great-escape-md img,
#misc-patience-md img,
#misc-scotland-vs-england-md img,
#misc-west-ham-vs-everton-md img,
#misc-wind-md img,
#misc-world-cup-semi-md img {
  width: 100%;
}
