@import "variables.css";

a, 
a.context-link, 
a.main-link,
a.footer {
  color: var(--links-colour-link);
  text-decoration: none;
  text-align: center;
}

a:visited,
a.context-link:visited,
a.main-link:visited,
a.footer:visited {
  color: var(--links-colour-visited);
}

a:hover,
a.context-link:hover,
a.main-link:hover,
a.footer:hover {
  color: var(--links-colour-hover);
}

a:active,
a.context-link:active,
a.main-link:active,
a.footer:active {
  color: var(--links-colour-active);
}

a.content {
  color: var(--links-content-link);
}

a.content:visited {
  color: var(--links-content-visited);
}

a.content:hover {
  color: var(--links-content-hover);
}

a.content:active {
  color: var(--links-content-active);
}

p#menu-burger {
  color: var(--links-colour-link);
  font-size: 4rem;
  margin: 0;
  padding: 0;

  line-height: 0.5;
}

p#menu-burger:hover {
  color: var(--links-colour-hover);
}

p#menu-burger:active {
  color: var(--links-colour-active);
}


#context-nav {
  display: grid;
  grid-template-rows: 1rem auto;

  position: fixed;
  top: 0;
  bottom: 0;
  right: -200px;

  z-index: 2000;

  padding: 1rem;

  height: 100vh;
  width: 200px;

  background-color: var(--menu-colour);
  transition: transform .8s ease-in-out;
}

#context-nav.open {
  transform: translateX(-200px);
}

#context-nav.close {
  transform: translateX(200px);
}

#context-items {
  display: grid;
  place-items: center center;
}

button.context-link,
button.context-link-close {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  margin: 0;
  padding: 0;

  font-size: 1rem;

  color: var(--links-colour-link);
}

button.context-link-close {
  text-align: left;
}

button.context-link:hover,
button.context-link-close:hover {
  color: var(--links-colour-hover);
}

button.context-link:active,
button.context-link-close:active {
  color: var(--links-colour-active);
}

#main-nav {
  display: grid;
  grid-template-rows: 1rem auto;

  position: fixed;
  top: 0;
  bottom: 0;
  right: -200px;

  z-index: 2;

  padding: 1rem;

  height: 100vh;
  width: 200px;

  background-color: var(--menu-colour);
  transition: transform .8s ease-in-out;
}

button.main-link,
button.main-link-close {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  margin: 0;
  padding: 0;

  font-size: 1rem;

  color: var(--links-colour-link);
}

button.main-link-close {
  text-align: left;
}

button.main-link:hover,
button.main-link-close:hover {
  color: var(--links-colour-hover);
}

button.main-link:active,
button.main-link-close:active {
  color: var(--links-colour-active);
}

#main-nav.open {
  transform: translateX(-200px);
}

#main-nav.close {
  transform: translateX(200px);
}

#main-items {
  display: grid;
  place-items: center center;
}

#menu-text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

