@import "variables.css";

#about,
#academia,
#apps,
#blog,
#books,
#cv,
#flash-fiction,
#misc,
#poetry,
#settings,
#songs,
#stories,
#contact {
  display: grid;
  place-items: center center;
  height: 100%;
  width: 100%;
}
