@import "variables.css";

#songs-college-campus,
#songs-echo-chamber,
#songs-if,
#songs-i-remember-when,
#songs-on-the-street,
#songs-whats-wrong-with-now {
  display: grid;
  place-items: center center;
  height: 100%;

  opacity: 0.5;
  background: var(--content-link-colour);

}

#songs-college-campus:focus,
#songs-college-campus:hover,
#songs-echo-chamber:focus,
#songs-echo-chamber:hover,
#songs-if:focus,
#songs-if:hover,
#songs-i-remember-when:focus,
#songs-i-remember-when:hover,
#songs-on-the-street:focus,
#songs-on-the-street:hover,
#songs-whats-wrong-with-now:focus,
#songs-whats-wrong-with-now:hover {
  animation: flashFadeIn linear 2s;
}

@keyframes flashFadeIn {
  0% {opacity:0.5;}
  50% {opacity:0.4;}
  100% {opacity:0.5;}
}

#songs-college-campus-md,
#songs-echo-chamber-md,
#songs-if-md,
#songs-i-remember-when-md,
#songs-on-the-street-md,
#songs-whats-wrong-with-now-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;

  background: var(--content-colour);
}
