@import "variables.css";
@import "animations.css";

#songs-college-campus,
#songs-echo-chamber,
#songs-if,
#songs-i-remember-when,
#songs-on-the-street,
#songs-whats-wrong-with-now {
  display: grid;
  place-items: center center;
  height: 100%;

  font-size: 1.5rem;

  background: var(--content-link-colour);
  animation: backgroundAnimation 10s ease infinite;
}

#songs-college-campus-md,
#songs-echo-chamber-md,
#songs-if-md,
#songs-i-remember-when-md,
#songs-on-the-street-md,
#songs-whats-wrong-with-now-md {
  position: fixed;
  height: calc(100% - var(--footer-height) - var(--header-height));
  width: calc(100% - 2rem);

  padding: 0 1rem 1rem 1rem;
  white-space: pre-wrap;

  overflow-y: scroll;

  background: var(--content-colour);
}
