:root {
  --background-colour: #7395ae;
  --header-colour: #557a95;
  --footer-colour: #557a95;
  --menu-colour: #c5c6c7;

  --text-colour: #000000;

  --content-link-colour: linear-gradient(90deg, #CABFB6 0%, #B79980 100%);;
  --content-colour: #CABFB6;

  --links-content-link: red;
  --links-content-visited: red;
  --links-content-hover: red;
  --links-content-active: rgb(211, 115, 25);

  --links-colour-link: rgb(87, 150, 223);
  --links-colour-visited: rgb(15, 32, 109);
  --links-colour-hover: red;
  --links-colour-active: rgb(211, 115, 25);

  --button-border-colour: black;

  --header-height: 4rem;
  --footer-height: 2rem;
  --footer-open-height: 4rem;

  --table-spacing: 40px 5px;
}

:root[data-theme="dark"] {
  --background-colour: #1f2833;
  --header-colour: #0b0c10;
  --footer-colour: #0b0c10;
  --menu-colour: #5d5c61;

  --text-colour: #66fcf1;

  --content-link-colour: linear-gradient(90deg, #45A29E 0%, #116466 100%);
  --content-colour: #116466;

  --links-colour-link: rgb(87, 150, 223);
  --links-colour-visited: rgb(61, 126, 201);
  --links-colour-hover: red;
  --links-colour-active: rgb(211, 115, 25);

  --button-border-colour: white; 
}

:root[data-theme="light"] {
  --background-colour: #7395ae;
  --header-colour: #557a95;
  --footer-colour: #557a95;
  --menu-colour: #c5c6c7;

  --text-colour: #ffffff;

  --content-link-colour: linear-gradient(90deg, #CABFB6 0%, #B79980 100%);;
  --content-colour: #CABFB6;

  --links-colour-link: #254e58;
  --links-colour-visited: #183b44;
  --links-colour-hover: red;
  --links-colour-active: rgb(211, 115, 25);

  --button-border-colour: black;
}
