:root {
  --background-colour: rgb(255, 241, 242);
  --header-colour: rgb(251, 113, 133);
  --footer-colour: rgb(251, 113, 133);

  --text-colour: #000000;

  --home-odd-colour: rgb(253, 164, 175);
  --home-even-colour: rgb(255, 228, 230);

  --header-height: 4rem;
  --footer-height: 4rem;
}
